
    <form class="pegetstart-form" data-drupal-selector="pegetstart-form" action="/" method="post" id="pegetstart-form"
        accept-charset="UTF-8">   
    <fieldset>
            <ul>
                <li id="item-li-1" class=" required" aria-required="true">
                    <label for="list-response-form-9-item-1" class="label-heading" style="display: none;">First Name <em>*</em></label> 
                    {{ form.lastName }}
                <li id="item-li-2" class=" required" aria-required="true">
                    <label for="list-response-form-9-item-2" class="label-heading" style="display: none;">Last Name <em>*</em></label> 
                    {{ form.firstName }}
                </li>
                <li id="item-li-4" class=" required" aria-required="true">
                    <label for="list-response-form-9-item-4" class="label-heading" style="display: none;">Phone Number <em>*</em></label> 
                    {{ form.phone }}
                </li>     
                <li id="item-li-3" class=" required" aria-required="true">
                    <label for="list-response-form-9-item-3" class="label-heading" style="display: none;">Email <em>*</em></label>
                    {{ form.email }}
                </li>
                <li id="item-li-62" class=" required" aria-required="true">
                    <label for="list-response-form-9-item-62" class="label-heading" style="display: none;">How can we help you? <em>*</em></label>
                    {{ form.data }}
                </li>
            </ul>
        </fieldset>
        {{ form.form_build_id }}
        {{ form.form_id }}
        <fieldset id="form_getstart_button_submit">
         
                {{form.submit}}
          
        </fieldset>   
    </form>
